# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Directorios de datos y salida locales (No subir al repositorio)
data/
recibos/
config/

# Entornos virtuales
venv/
env/
.env

# IDEs
.vscode/
.idea/

# PyInstaller y compilaciones
build/
dist/
*.spec
*.exe

# Entorno de Wine y scripts temporales
.wine_env/
python-installer.exe
build_windows.sh
